---
import Layout from "../../layouts/Layout.astro";
import Footer from "../Footer.astro";
---

<Layout title="Contact Me" description="">
  <div class="w-full h-36 relative mt-10 flex items-center justify-center">
    <div
      class="text-[#ffffff] text-left font-['BebasNeue-Regular',_sans-serif] text-[101.7583999633789px] font-normal absolute left-[calc(50%_-_60px)] top-[calc(50%_-_51px)]"
    >
      CONTACT
    </div>
  </div>

  <div
    class="self-stretch max-w-[1300px] h-[732px] flex-col justify-start items-center gap-5 flex"
  >
    <div
      class="pl-[58px] pr-[3px] pt-[55.28px] pb-[75.72px] bg-lime-300 rounded-[10px] justify-end items-center inline-flex"
    >
      <div
        class="self-stretch justify-start items-start gap-[260px] inline-flex"
      >
        <div class="inline-flex flex-col items-start justify-start">
          <div
            class="text-gray-900 text-[141.14px] font-normal font-['Bebas Neue'] leading-[150.45px]"
          >
            GET IN TOUCH
          </div>
          <div
            class="w-[465px] text-gray-900 text-[25px] font-normal font-['DM Sans']"
          >
            If you are interested in my work or want to provide feedback about
            this website, I am open to exchanging ideas.
          </div>
        </div>
        <div
          class="py-2.5 flex-col justify-start items-start gap-3.5 inline-flex pr-5"
        >
          <form
            id="contact-form"
            action="https://formspree.io/f/xoqgrpye"
            method="POST"
            @submit="handleSubmit(event)"
          >
            <div class="flex-col justify-start items-start gap-[5px] flex">
              <label
                for="name"
                class="text-gray-900 text-[25px] font-bold font-['DM Sans']"
                >Name</label
              >
              <input
                v-model="formData.name"
                id="name"
                name="name"
                type="text"
                class="w-[589px] h-[51px] text-black-blue bg-white rounded-[10px]"
              />
            </div>
            <div class="flex-col justify-start items-start gap-[5px] flex">
              <label
                for="email"
                class="text-gray-900 text-[25px] font-bold font-['DM Sans']"
                >Email</label
              >
              <input
                v-model="formData.email"
                id="email"
                required
                name="_replyto"
                type="email"
                class="w-[589px] h-[51px] text-black-blue bg-white rounded-[10px]"
              />
            </div>
            <div class="flex-col justify-start items-start gap-[5px] flex">
              <label
                for="message"
                class="text-gray-900 text-[25px] font-bold font-['DM Sans']"
                >Message</label
              >
              <textarea
                v-model="formData.message"
                id="message"
                name="message"
                class="w-[589px] h-[272px] text-black-blue bg-white rounded-[10px]"
              ></textarea>
            </div>
            <button
              type="submit"
              class="w-[589px] py-[9px] bg-gray-900 rounded-[10px] justify-center items-center inline-flex mt-5"
            >
              <span
                class="text-lime-300 text-[25px] font-medium font-['DM Sans']"
                >Send</span
              >
            </button>
          </form>
          <div
            id="notification"
            class="hidden text-blue-500 text-[25px] font-bold font-['DM Sans']"
          >
            Message sent successfully!
          </div>
        </div>
      </div>
    </div>
  </div>

  <Footer />
</Layout>
