---
import Layout from "../../layouts/Layout.astro";
import Footer from "../Footer.astro";
import PreFooter from "../PreFooter.astro";
---

<Layout title="Contact Me" description="">
  <div class="w-full h-36 relative mt-10 flex items-center justify-center">
    <div
      class="text-[#ffffff] text-left font-['BebasNeue-Regular',_sans-serif] text-[101.7583999633789px] font-normal absolute left-[calc(50%_-_60px)] top-[calc(50%_-_51px)]"
    >
      CONTACT
    </div>
  </div>
  <PreFooter />

  <Footer />
</Layout>
