---
import Layout from "../../layouts/Layout.astro";
import Footer from "../Footer.astro";
---

<Layout title="Proyectos" description="">
  <main class="w-screen max-w-[1400px] overflow-x-hidden">
  <div
    class="mt-5 rounded-[10px] self-stretch shrink-0 h-32 relative overflow-hidden justify-center items-center left-[40%]"
  >
    <div
      class="text-[#ffffff] text-center font-['BebasNeue-Regular',_sans-serif] text-[102px] font-normal absolute left-0 top-5"
    >
      PROJECTS
    </div>
  </div>
 <section class="p-5 h-screen">
  
<div class="grid grid-cols-4 grid-rows-4 gap-5 text-white">

  <div class="row-span-2 border rounded-lg bg-cover bg-center" style="background-image: url(./tesla.png);">
  </div>

  <div class="row-span-2 border rounded-lg bg-cover bg-center" style="background-image: url(./grano.png);">
  </div>

  <div class="row-span-2 "> <img src="./vinyl.png" alt=" preview Vinyl" class="rounded-lg">
  </div>
  <div class="row-span-2 border rounded-lg"> <img src="./portfolio.png" alt="previw portfolio" class="rounded-lg">
  </div>

  <div class="row-span-2 row-start-3 border rounded-lg bg-cover" style="background-image: url(./blog.png);">

  </div>

  <div class="row-span-2 row-start-3 border rounded-lg">6</div>
<!-- ToDo mas webs -->
  <!-- <div class="row-span-2 row-start-3 border rounded-lg">7</div>

  <div class="row-span-2 row-start-3 border rounded-lg">8</div> -->
</div>
  
</div>
</section>
</main>
<Footer />






</Layout>
