---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Proyectos" description="">
  <div
    class="mt-5 rounded-[10px] self-stretch shrink-0 h-32 relative overflow-hidden justify-center items-center left-[40%]"
  >
    <div
      class="text-[#ffffff] text-center font-['BebasNeue-Regular',_sans-serif] text-[102px] font-normal absolute left-0 top-5"
    >
      PROJECTS
    </div>
  </div>




</Layout>
