---
import Projectspage from "./Pages/projectspage.astro";
---

<div>
    <div class="flex items-center justify-between">
        <h2 class="px-4 w-[80%] py-2 mb-4 text-3xl font-bold border rounded-lg bg-black-blue border-black-blue">Recent Projects</h2>
        <a href="/Projects" class="px-4 py-2 mb-4 border rounded-lg hover:transition-colors text-black-blue hover:text-neon-green border-neon-green bg-neon-green hover:bg-black-blue hover:border-black-blue hover:animate-ease-in-out">
          Ver más</a>
      </div>
      <section class="p-5 h-screen">
  
        <div class="grid grid-cols-4 grid-rows-4 gap-5 text-white">
        
          <div class="row-span-2 border rounded-lg bg-cover bg-center" style="background-image: url(./tesla.png);">
          </div>
        
          <div class="row-span-2 border rounded-lg bg-cover bg-center" style="background-image: url(./grano.png);">
          </div>
        
          <div class="row-span-2 "> <img src="./vinyl.png" alt=" preview Vinyl" class="rounded-lg">
          </div>
          
          <div class="row-span-2 border rounded-lg"> <img src="./portfolio.png" alt="previw portfolio" class="rounded-lg">
          </div>
        
          <div class="row-span-2 row-start-3 border rounded-lg bg-cover" style="background-image: url(./blog.png);">
        
          </div>
        
          <div class="row-span-2 row-start-3 border rounded-lg">6</div>
        <!-- ToDo mas webs -->
          <!-- <div class="row-span-2 row-start-3 border rounded-lg">7</div>
        
          <div class="row-span-2 row-start-3 border rounded-lg">8</div> -->
        </div>
          
        </div>
        </section>
      
      
</div>
  