<div>
    <div class="flex items-center justify-between">
        <h2 class="px-4 w-[80%] py-2 mb-4 text-3xl font-bold border rounded-lg bg-black-blue border-black-blue">Recent Projects</h2>
        <a href="/Projects" class="px-4 py-2 mb-4 border rounded-lg hover:transition-colors text-black-blue hover:text-neon-green border-neon-green bg-neon-green hover:bg-black-blue hover:border-black-blue hover:animate-ease-in-out">
          Ver más</a>
      </div>
      
      
    <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
        <!-- Proyecto 1 -->
        <div class="col-span-2">
          <div class="overflow-hidden rounded-lg shadow-lg bg-black-blue">
            <a href="https://tesla-clone-web-page.netlify.app"><img class="object-cover object-center w-full h-64" src="./tesla.png" alt="Proyecto 1">
            <div class="p-4">
              <h3 class="mb-2 text-xl font-medium">Landing Page - Tesla</h3>
              <h6 class="text-sm text-neon-green">Frontend</h6>
              <p class="text-gray-300 ">La landing page de Tesla es una ventana digital a la vanguardia 
                  de la innovación en la industria automotriz. Diseñada para cautivar y convertir a los visitantes, 
                  esta página web busca transmitir la esencia de la marca Tesla: <strong>tecnología de punta</strong>, 
                  <strong>sostenibilidad</strong> y una <strong>experiencia de conducción incomparable</strong>.
              </p></a>
            </div>
          </div>
        </div>
        
        <!-- Proyecto 2 -->
        <div class="col-span-1">
          <div class="overflow-hidden rounded-lg shadow-lg bg-black-blue">
            <a href="https://grano-coffe.netlify.app"><img class="object-cover object-center w-full h-64" src="./grano.png" alt="Proyecto 2">
            <div class="p-4">
              <h3 class="mb-2 text-xl font-medium">Grano Coffee</h3>
              <h6 class="text-sm text-neon-green">Frontend</h6>
              <p class="text-gray-300">Pagina creada para <strong>proyecto final de Desarrollo Web</strong>
                para el curso realizado en <strong class="text-coder-house">CODERHOUSE</strong>
            </p></a>
            </div>
          </div>
        </div>
        
        <!-- Proyecto 3 -->
        <div class="col-span-1">
          <div class="overflow-hidden rounded-lg shadow-lg bg-black-blue">
            <a href="404.astro"><img class="object-cover object-center w-full h-64" src="./Vinyl.png" alt="Work in Progress">
            <div class="p-4">
              <h3 class="mb-2 text-xl font-medium">Vinyl Music</h3>
              <h6 class="text-sm text-neon-green">Frontend</h6>
              <p class="text-gray-300">Reproductor web</p></a>
            </div>
          </div>
        </div>
      </div>
      
      
</div>
  