<div>
    <h2 class="mb-4 text-2xl font-bold">Recent Projects</h2>
    <!-- Botón Ver más -->
    <div class="text-right">
      <a href="#" class="text-blue-600">Ver más</a>
    </div>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
      <!-- Proyecto 1 -->
      <div class="col-span-1 md:col-span-1">
        <div class="overflow-hidden rounded-lg shadow-lg bg-black-blue">
          <img class="object-cover object-center w-full h-64" src="./tesla.png" alt="Proyecto 1">
          <div class="p-4">
            <h3 class="mb-2 text-xl font-medium">Proyecto 1</h3>
            <h6 class="text-sm text-neon-green">Frontend</h6>
            <p class="text-gray-300 ">Breve descripción del proyecto 1.</p>
          </div>
        </div>
      </div>
      <!-- Proyecto 2 -->
      <div class="col-span-1 md:col-span-1">
        <div class="overflow-hidden rounded-lg shadow-lg bg-black-blue">
          <img class="object-cover object-center w-full h-64" src="./grano.png" alt="Proyecto 2">
          <div class="p-4">
            <h3 class="mb-2 text-xl font-medium">Proyecto 2</h3>
            <h6 class="text-sm text-neon-green">Frontend</h6>
            <p class="text-gray-300">Breve descripción del proyecto 2.</p>
          </div>
        </div>
      </div>
      <!-- Proyecto 3 -->
      <div class="col-span-1 md:col-span-1">
        <div class="overflow-hidden rounded-lg shadow-lg bg-black-blue">
          <img class="object-cover object-center w-full h-64" src="imagen_proyecto_3.jpg" alt="Proyecto 3">
          <div class="p-4">
            <h3 class="mb-2 text-xl font-medium">Proyecto 3</h3>
            <h6 class="text-sm text-neon-green">Frontend</h6>
            <p class="text-gray-300">Breve descripción del proyecto 3.</p>
          </div>
        </div>
      </div>
    </div>
</div>
  