<div class="pl-[419px] max-w-[1370px] ml-5 pr-[418px] pt-[120.50px] pb-[87.50px] bg-black-blue rounded-tl-[20px] rounded-tr-[20px] justify-center items-center inline-flex">
    <div class="self-stretch flex-col justify-start items-center gap-[25px] inline-flex">
        <div class="w-[497px] h-[93px] text-white text-[132.95px] font-bold font-['DM Sans']">Gaston.</div>
        <div class="w-[641px] pt-20 text-center text-zinc-400 text-[21.08px] font-normal font-['DM Sans']">I'm a web developer and designer based in Argentina. I have a very deep passion to design stuff ❤️ This Website is made with the lot of love and passion.</div>
        <div class="inline-flex items-center justify-center">
            <div class="relative animate-pulse animate-infinite"> <a href="https://www.instagram.com/gaston.alvare/"><img src="./instagram.svg" alt="Logo instagram"></div></a>
            <div class="relative animate-pulse animate-infinite"> <a href="https://www.linkedin.com/in/gastonalvarezqa/"><img src="./linkedin.svg" alt="Logo Linkedin"></div></a> 
           <div class="relative animate-pulse animate-infinite"> <a href="https://github.com/gastongithubb"><img src="./github.svg" alt="Logo githubb"></div></a> 
       </div>
    </div>
</div>