<div class="pl-[419px] pr-[418px] pt-[120.50px] pb-[87.50px] bg-gray-900 rounded-tl-[20px] rounded-tr-[20px] justify-center items-center inline-flex">
    <div class="self-stretch flex-col justify-start items-center gap-[25px] inline-flex">
        <div class="w-[497px] h-[93px] text-white text-[132.95px] font-bold font-['DM Sans']">Gaston.</div>
        <div class="w-[641px] text-center text-zinc-400 text-[21.08px] font-normal font-['DM Sans']">I'm a web developer and designer based in Argentina. I have a very deep passion to design stuff ❤ This Website is made with the lot of love and passion.</div>
        <div class="inline-flex items-center justify-center">
            <div class="w-[69px] h-[69px] relative"></div>
            <div class="w-[69px] h-[69px] relative"></div>
            <div class="w-[69px] h-[69px] relative"></div>
        </div>
    </div>
</div>