<div
  class="w-screen h-screen flex-col justify-start items-center gap-[30px] overflow-x-hidden overflow-y-hidden inline-block"
>
  <div class="shrink-0 h-[764px] relative">
    <div
      class="flex flex-col gap-0 items-start justify-start absolute left-[-2228px] top-[calc(50%_-_328.5px)]"
    >
      <div
        class="flex flex-row gap-[50px] items-start justify-start shrink-0 h-[212px] relative"
      >
        <div
          class="text-left font-['BebasNeue-Regular',_sans-serif] text-[235.52000427246094px] font-normal relative flex items-center justify-start"
          style="-webkit-text-stroke: 1.840000033378601px rgba(189, 226, 58, 0.2)"
        >
          Frontend Developer
        </div>
        <div
          class="text-left font-['BebasNeue-Regular',_sans-serif] text-[235.52000427246094px] font-normal relative flex items-center justify-start"
          style="-webkit-text-stroke: 1.840000033378601px rgba(189, 226, 58, 0.2)"
        >
          Frontend Developer
        </div>
        <div
          class="text-left font-['BebasNeue-Regular',_sans-serif] text-[235.52000427246094px] font-normal relative flex items-center justify-start"
          style="-webkit-text-stroke: 1.840000033378601px rgba(189, 226, 58, 0.2)"
        >
          Frontend Developer
        </div>
        <div
          class="text-left font-['BebasNeue-Regular',_sans-serif] text-[235.52000427246094px] font-normal relative flex items-center justify-start"
          style="-webkit-text-stroke: 1.840000033378601px rgba(189, 226, 58, 0.2)"
        >
          Frontend Developer
        </div>
        <div
          class="text-left font-['BebasNeue-Regular',_sans-serif] text-[235.52000427246094px] font-normal relative flex items-center justify-start"
          style="-webkit-text-stroke: 1.840000033378601px rgba(189, 226, 58, 0.2)"
        >
          Frontend Developer
        </div>
        <div
          class="text-left font-['BebasNeue-Regular',_sans-serif] text-[235.52000427246094px] font-normal relative flex items-center justify-start"
          style="-webkit-text-stroke: 1.840000033378601px rgba(189, 226, 58, 0.2)"
        >
          Frontend Developer
        </div>
      </div>
    </div>
    <div
      class="flex flex-col gap-[16.77px] items-center justify-center w-[414.58px] absolute left-[calc(50%_-_207px)] top-[calc(50%_-_273.99px)]"
    >
      <div
        class="text-neon-green text-left font-['DmSans-Medium',_sans-serif] text-[46.47537612915039px] font-medium relative w-[299.55px] h-[33.55px] flex items-center justify-start"
      >
        Hey There I’m
      </div>
      <div
        class="text-neon-green text-left font-['BebasNeue-Regular',_sans-serif] text-[339.206787109375px] leading-[105%] font-normal relative w-[805px] h-[300px] "
      >
        gaston
      </div>
      <div
        class="text-neon-green text-center font-['DmSans-Medium',_sans-serif] text-[23.237688064575195px] leading-snug font-medium relative w-[445.73px] h-[57.51px] flex items-center justify-center"
      >
        ACA PONER LOS ESTUDIOS
      </div>
      <div
        class="flex flex-row gap-[35.36px] items-start justify-start shrink-0 relative"
      >
        <a href="https://www.linkedin.com/in/gastonalvarezqa/"><img
          class="shrink-0 w-[54.21px] h-[54.21px] relative overflow-visible animate-pulse animate-infinite"
          src="./linkedin.svg"
        /></a>
        <div class="shrink-0 w-[54.21px] h-[54.21px] relative overflow-hidden">
          <a href="https://github.com/gastongithubb"><img
            class="w-[94.36%] h-[92.03%] absolute right-[2.83%] left-[2.82%] bottom-[3.99%] top-[3.99%] overflow-visible animate-pulse animate-infinite"
            src="./github.svg"
          /></a>
        </div>
      </div>
    </div>
  </div>

 
</div>
