---
import BentoItem from "./BentoItem.astro"
---

<section
  class={`
    max-w-[1370px] h-full
    grid lg:grid-col-10 auto-rows-[30rem] gap-4 
    mx-auto p-6 md:p-12 lg:p-20
    `}
>
  <BentoItem
    class="top-0 w-[800px] h-full col-span-10 -left-[10%] md:col-span-5 bg-neon-green overflow-x-hidden "
    title="About Me"
  >
    <p slot="content"
    class="max-w-xl text-base md:text-lg text-black-blue font-DmSans-Regular">
    <p><strong>Una persona extrovertida, empática y con un espíritu autodidacta</strong></p>

    <p>Soy alguien que se conecta fácilmente con las personas que lo rodean, creando relaciones sólidas basadas en la <strong>confianza</strong> y el <strong>compromiso</strong>. Me apasiona resolver problemas utilizando diversos campos del conocimiento y estoy en constante búsqueda de nuevas oportunidades para <strong>aprender</strong> y <strong>crecer</strong>.</p>
      <a href="/AboutMe"><button class="px-4 py-2 text-lg rounded-md bg-dark-blue text-neon-green font-DmSans-Bold">More...</button></a>
    </p>
    
  </BentoItem>
</section>